<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <link rel="stylesheet" href="/public/stylesheets/login.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRIiHf8ZLSzIhVTGQoedYNO7pM8UQD6dk&libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.js" ></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/public/javascripts/controllers/index.js" charset="utf-8"></script>
    <title>Route Finder</title>
</head>

<body>
    <div class="navbar-fixed">
        <nav class="master-nav-head">
            <div class="nav-wrapper">
                <img class="nav-content" src="/public/images/route-finder.png" alt="" />
                <p class="nav-content nav-copy"><a class="nav-content" href="index.html">RouteFinder</a></p>
            </div>
        </nav>
    </div>
    <main class="main-container main-container-image">
        <div>
            <p class="main-headline">
                Plan Your Route
            </p>
        </div>
        <div class="row form-container">
            <form id="form" class="route-input" action="login" method="POST">
              <div class="input-wrapper">
              <div class="strava btn-large" id="strava">
                <a class="button strava-button" href="https://www.strava.com/oauth/authorize?client_id=14704&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fauth%2Fconfirm&response_type=code&scope=view_private%2Cwrite">
                Sign in with Strava
                </a>
                </div>
              <p class="form-text">
                  or sign up with your email address
              </p>
                <div class="input-field">
                    <fieldset class="user-inputs">
                      <div class="row">
                        <div class="login-divs">
                            <label class="login-label" for="firstName"></label>
                            <input class="user-input-login" type="text" placeholder="First Name" id="first-name" name="firstName" required />
                        </div>
                        <div class="login-divs">
                            <label class="login-label" for="lastName"></label>
                            <input class="user-input-login" type="text" placeholder="Last Name" id="last-name" name="lastName" required />
                        </div>
                      </div>
                        <div class="login-divs">
                          <label class="range-slider login-label" for="email"></label>
                          <input class="user-input-login" type="email" placeholder="Email" id="email" name="email" required />
                        </div>
                        <div class="login-divs">
                          <label class="range-slider login-label" for="password"></label>
                          <input class="user-input-login" type="password" placeholder="Password" id="password" name="password" required />
                        </div>
                        <div class="login-divs">
                          <label class="range-slider login-label" for="confirmPassword"></label>
                          <input class="user-input-login" type="password" placeholder="Confirm Password" id="confirm-password" name="confirmPassword" required />
                        </div>
                    </fieldset>
                    </div>
                </div>
                <div>
                    <button class="btn-large" id="search-button" type="submit" name="action">Search</button>
                </div>
            </form>
            </div>

    </main>
    <section class="details-container">
      <div class="details-div">
        <div class="details-copy">
          <h2>Discover new routes that work for you!  </h2>
          <p>
            Don't spend all day sifting through blog posts to find a fun ride.
          </p>
        </div>

        <div class="details-image">

        </div>
      </div>
    </section>

    <footer>
      <div class="footer-container">
        <ul class="footer-list">
          <li>
            &copy; Courtney O'Donnell
          </li>
        </ul>
        <ul class="footer-list">
          <li>Ride with GPS API</li>
          <li>Google Maps Api</li>
        </ul>
      </div>
    </footer>
</body>

</html>
