/*<============Athlete info, image and name ==============*/
#photo-url {
	background-image: url('https://dgalywyr863hv.cloudfront.net/pictures/athletes/1877355/565714/2/large.jpg');
	height: 100px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.name-container {
	color: #666;
	font-weight: 300;
}

#first-name {
	font-size: 28px;
	padding: 20px 0;
}

.localization-icon {
	width: 25px;
}

.localization {
	display: inline-block;
}

#location {
	display: inline-block;
}

/*<=========ride stats table ==================*/

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
		color: #333;
}

td, th {
	border: none;
	background: none;
	border-bottom: 1px solid #e5e5e5;
	color: #666
}

th {
	padding-top: 20px;
	font-weight: 600;
  text-align: left;
}

tr, td {
	padding: 10px 5px;
	color: #666;
}

.ride-stats-container {
	padding-top: 87px;
}

.ride-stats-title {
	font-size: 18px;
	color: #666;
	font-weight: 300;
}

.table-stats {
	font-size: 12px;
  line-height: 1.5em;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


table th:first-child, table td:first-child {
	width: 170px;
}

table th:last-child, table td:last-child {
	background-color: rgba(0,0,0,0.03);
}

tr:nth-child(even){
	background-color: rgba(0,0,0,0.03);
}

section {
	display: flex;
	margin: 120px auto 80px;
  padding: 0 20px;
	justify-content: space-around;
}

/*<===========Drop down button on stats====================*/
/* Dropdown Button */
.dropbtn {
    background-color: #e5e5e5;
    color: #666;
    padding: 12px;
    font-size: 12px;
		font-weight: 600;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #e5e5e5;
}

.drop-down-menu {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {
	background-color: #f1f1f1;
	color: #666;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.biggest-ride a, .biggest-climb a {
	text-decoration: none;
	color: #666;
}


/*<===========Socail feeed ====================*/

#activity-feed, #favorite-feed {
	border-left: 1px solid #e5e5e5;
  margin-left: 78px;
  margin-top: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.day {
	padding: 10px 5px;
  margin: 20px 0;
	font-size: 11px;
	background-color: #f5f5f5;
	color: #666;
	/*padding: 0px 10px;*/
  white-space: nowrap;
  line-height: 1em;
	border-radius: 7px;
}

.date-of-activity:before {
    background-color: #999;
    box-shadow: 0 0 0 1px #fff;
		float: left;
    margin-left: -3px;
    content: "";
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin-top: 7px;
	}

.activity-details {
	padding: 0 30px;
  margin: 40px 0;
}

.activity-profile-image {
	height: 48px;
  width: 48px;
	margin-left: -108px;
	float: left;
}

.activity-ride-image {
	height: 128px;
  width: 177px;
	margin-top: -87px;
	float: right;
}

.activity-headline {
	font-size: 14px;
  line-height: 1.35em;
	color: #666;
	padding-bottom: 5px;
	font-weight: 700;
}

.activity-entry {
	margin-right: 190px
}

.activity-entry:last-child {
	margin-right: 250px
}

.activity-specs li {
	color: #666;
	font-size: 12px;
  line-height: 1.5em;
	padding-bottom: 4px;
}

.socail {
	display: inline-block;
}


/*<===========Add favorites button ====================*/

.add-strava-text {
	color: #666;
	font-size: 14px;
}

.strava-btn-wrapper {
	background-color: rgb(252, 76, 2);
	border-color: rgb(252, 76, 2);
	display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
	min-height: 40px;
  margin-top: 10px;
	background-image: none;
}


/*<===========Toggle ====================*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-values {
	display: inline;
	font-size: 14px;
  font-weight: 600;
  color: #666;
}

/*======================REMOVE BUTTON =========================*/



.remove-fav-btn {
	padding: 1px 8px;
    font-size: 13px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #FC4C02;
  border: none;
	border-radius: 3px;
	box-shadow: 0 4px #999;
	float: right;
	margin: 10px -227px 0 0;
	/*margin-right: -227px;*/
}



.remove-fav-btn:hover {background-color: #972e01}

.remove-fav-btn:active {
  background-color: #972e01;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}



/*===================strava login button================================*/

.strava-btn {
	text-decoration: none;
	color: #fff;
	text-shadow: none;
	background-image: url('/public/images/strava.gif');
	background-size: 30px 40px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.strava-btn-wrapper {
	background-color: #FC4C02;
  border-color: #FC4C02;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	width: 100%;
}



/*================================================================================*/
/*======================== Phone Media Queries ============================*/
/*================================================================================*/

/* phones ----------- */
@media only screen and (max-width : 375px) {

section {
	display: block;
	margin: 0;
}
.nav-list-first {
	display: none;
}

.ride-stats-container {
	padding: 45px 0;
}

#activity-feed, #favorite-feed {
  margin-left: 0;
}

.activity-profile-image {
  display: none;
}

.profile-container {
    margin: 10px 0;
}


}
