html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- =nav bar ----- */

.nav-list {
	border-right: 1px solid #bbb;
	color: #666;
	float: right;
	padding: 14px 16px;
	text-align: center;
	display: block;
}


.nav-list:hover:not(.nav-list-first) {
    background-color: #FC4C02;
		color: white;
}

.nav-list:first-child {
	border-right: none;
	float: left;
}

.nav-wrapper {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #dfdfdf;
}

/*.route-saver {
	display: inline-block;
	text-align: center;
}*/

.nav-float {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

/*.route-saver {
	display: inline-block;
	text-align: center;
}*/

.nav-float {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

/*.route-saver {
	display: inline-block;
	text-align: center;
}*/

.nav-float {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

/* ----- =nav logo ----- */

.logo{
	background-image: url("/public/images/route-finder.png")
}

.master-nav-head img {
  width: 3.5%;
	/*-webkit-transform: translateY(-10%);
  -ms-transform: translateY(-10%);*/
	padding-left: 2%;
}

/* ----- =main container styling ----- */
.main-container-image {
	background-image: url("/public/images/marin.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 100% 20%;
  height: 700px;
}

.current-route {

}

.current-route {

}

.current-route {

}

/* ----- =form styling ----- */

.form-container {
  width: 500px;
  margin: 5px auto 0 auto;
  padding: 45px 20px 45px 20px;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.main-headline {
  font-size: 350%;
  color: #4d4d4d;
  text-align: center;
  padding-top: 5%;
  font-weight: 900;
  text-transform: uppercase;

}

.form-headline {
  font-size: 120%;
  color: #4d4d4d;
  text-align: center;
  padding-bottom: 25px;
}

.route-input {
  border-radius: 4px;
  color: #333;
  text-shadow: none;
  background-color: rgba(255,255,255,0.9);
  padding: 50px;
}

.homepage-label {
  font-size:15px;
  clip: rect(0, 0, 0, 0);
	display: inline-block;
	max-width: 100%;
	margin-bottom: 7px;
  color: #4d4d4d;
}

.user-input-homepage {
  min-height: 40px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 1px 0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
}

.input-wrapper {
  width: 280px;
  margin: 0 auto;
	width: 359px;
}

.input-group {
	text-align: left;
	margin-bottom: 10px;
}

.select-group {
	margin-bottom: 0;
}

#mile-range {
	background: #fff;
	background: #fff;
  min-height: 40px;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
  height: 40px;
}

.select-mile-range {
	border: 1px solid #ccc;
	width: 50%;
	color: #999999;
}

.show-label-text {
	font-size: 1-px;
}

.user-input {
  margin: 10px 0;
  padding: 0;
  border: none;
  font-size: 14px;
}

/* ----- =form button ----- */

.btn-large {
  min-height: 40px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 3px;
  width: 90%;
  color: #fff;
  border: 1px solid #ccc;
	font-weight: 700;
  font-size: 18px;
  letter-spacing: .01rem;
  text-transform: Uppercase;
}

#search-button {
	background-color: #FC4C02;
  border-color: #FC4C02;
}

.form-container button:hover {
background-image:none;
background-color: #e34402;
}
/* ------------- copy below the form -------------------*/
.details-container {
	background-color: #dedede !important;
}

.details-div {
	width: 80%;
  margin: 0 auto;
	text-align: center;
	padding: 40px 0;
}

.details-image-route {
	background-image: url("/public/images/ride-example.png");
	background-position: center;
	height: 450px;
}
.details-image-dashboard {
	background-image: url("/public/images/dashboard.png");
	background-position: center;
	height: 450px;
}

.details-copy {
	color: #4d4d4d;
	padding: 40px 0;
	background-color: #fff;
}

.details-copy h2 {
	font-weight: 300;
	letter-spacing: -0.02em;
  line-height: 1.2em;
	font-size: 46px;
}

.details-copy p {
	margin-top: 10px;
	font-size: 22px;
}

/* ---------------footer ----------- */
.footer-list {
 color: #4d4d4d;
 padding: 10px;
}

.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-list li {
	padding: 4px 0;
}
/* ---------------Tablets ----------- */
@media only screen and (max-width : 767px) {
	.main-container {
	  margin-top: 45px;
	}

	.form-container {
		width: 470px;
		padding: 10px 10px 10px 10px;
	}

	.main-headline {
	  font-size: 220%;
	}

	.form-headline {
	  font-size: 110%;
	  padding-bottom: 20px;
	}

	.route-input {
	  border-radius: 4px;
	  color: #333;
	  text-shadow: none;
	  background-color: rgba(255,255,255,0.9);
	  padding: 30px 20px;
	}


}


/* phones ----------- */
@media only screen and (max-width : 400px) {
	.main-container {
	  margin-top: 41px;
	}

	.form-container {
		width: 273px;
		padding: 10px 10px 10px 10px;
	}

	.main-headline {
	  font-size: 190%;
		margin-bottom: 20px;
		padding-top: 30px;
	}

	.form-headline {
	  font-size: 110%;
	  padding-bottom: 20px;
	}

	.route-input {
	  border-radius: 4px;
	  color: #333;
	  text-shadow: none;
	  background-color: rgba(255,255,255,0.9);
	  padding: 30px 20px 30px 30px;
	}

	.user-input-homepage {
	  min-height: 40px;
	  width: 60%;
	  box-sizing: border-box;
	  margin: 0 0 1px 0;
	  padding: 5px 10px;
	  border: 1px solid #ccc;
	  font-size: 14px;
	  font-weight: 300;
	  border-radius: 3px;
	}

	.homepage-label {
		display: block;
		color: #4d4d4d;
	}

	.select-mile-range {
		border: 1px solid #ccc;
		width: 60%;
		color: #999999;
	}

	.form-container button {
	  width: 100%;
	}

}


/*================================================================================*/
/*======================== Phone Media Queries ============================*/
/*================================================================================*/

/* phones ----------- */
@media only screen and (max-width : 375px) {

	section {
		display: block;
		margin: 0;
	}
	.nav-list-first {
		display: none;
	}

	.ride-stats-container {
		padding: 45px 0;
	}

	#activity-feed, #favorite-feed {
	  margin-left: 0;
	}

	.activity-profile-image {
	  display: none;
	}

	.main-container {
    margin-top: -1px;
	}
	
	 .details-copy h2 {
	    font-size: 23px;
	}

	.details-copy p {
	    font-size: 14px;
	}

	#slider-range, #slider-range-elevation {
	    width: 216px;
	}

}
